.file-group {
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    height: 200px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 32px;
    span {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
    }
    .file-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        &:focus {
            outline: none;
        }
    }
}
